<form (ngSubmit)="onSubmit()" [formGroup]="userForm" class="userForm">
    <div class="form-group">
        <input type="text" formControlName="nom" placeholder="Nom" class="form-control mb-3" />
        <input type="text" formControlName="prenom" placeholder="Prénom" class="form-control mb-3" />
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="civiliteSelect">Civilité : </label>
            </div>
            <select class="custom-select" id="civiliteSelect">
              <option selected></option>
              <option value="M">M</option>
              <option value="F">F</option>
            </select>
          </div>
          <input type="text" formControlName="date_naissance" placeholder="Date de naissance" class="form-control mb-3" />
    </div>

    <button type="submit" [disabled]="userForm.invalid">Valider</button>
</form>