<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/destinations">Destinations </a>
            </li>


        </ul>
        
    <div>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link"  routerLink="/inscription">Inscription </a>
            </li>
            <li class="nav-item active" *ngIf="!isLogged">
                <a class="nav-link"  routerLink="/connexion">Connexion </a>
            </li>
            <li class="nav-item active" *ngIf="isLogged">
                <p class="nav-link" (click)="logout()">Deconnexion </p>
            </li>
        </ul>        
        <p class="nav-link disabled" *ngIf="isLogged">{{ utilisateur.nom }}</p>
        <p class="nav-link disabled">{{getFormatteddate() }}</p>
    </div>
    </div>



</nav>

<!--TO DO:
Un seul bouton de connexion qui renvoie vers une page : "déjà inscrit ? sinon inscrivez-vous"
-->