<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand">{{title}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/accueil">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/destinations">Destinations </a>
            </li>
        </ul>
        <span class="navbar-text date">{{getFormatteddate()}}</span>        
        <div>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active" *ngIf="!isLogged">
                    <button type="button" class="btn btn-success" routerLink="/connexion">Connexion</button>
                </li>
                <li class="nav-item active" *ngIf="isLogged">
                    <span class="navbar-text">Connecté : {{utilisateur.prenom | titlecase}} {{utilisateur.nom | titlecase}}</span>
                    <button type="button" class="btn btn-secondary" (click)="logout()">Déconnexion</button>
                </li>
            </ul>            
        </div>
    </div>



</nav>

<!--TO DO:
Un seul bouton de connexion qui renvoie vers une page : "déjà inscrit ? sinon inscrivez-vous"
-->